<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Verification</title>
</head>
<body>
    <h1>Hello, {{ name }}!</h1>
    <p>Here is your {{ activationLink }}, link will accessible for 24 hours, you also can generate the new one.</p>
    <p>Unverified account will be deleted after 5 days.</p>
</body>
</html>